/* start profile demo area 
*******************************/
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  width: 200px;
  margin-bottom: 35px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f89d00;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #c98104;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  margin-top: 10px;
  background-color: #f89d00;
  transition: all 0.5s ease 0s;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #f89d00;
  background-color: #f7f5ec;
}

/* start about css 
*********************/
.about_text{
  padding: 16px 10px 0;
}
.about_text h2{
  text-align: start;
}
.about_text p{
  text-align: start;
  font-size: 18px;
  /* max-width: 800px; */
  /* margin: 20px auto; */
}

/* start skills css 
**********************/
.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}
.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.skills ul li {
  color: #f7f5ec;
	border: 1px solid #fefeff;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}