@media (max-width: 1400px) {}

@media (max-width: 1200px) {
  .btn1 {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .btn1 {
    padding: 18px 8px;
    font-size: 18px;
  }
  .menu_margin_t{
    margin-top: 20px;
  }
  .text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .text_20 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .text_36 {
    font-size: 30px;
    margin-bottom: 26px;
  }
  .text_border::after {
    display: none;
  }
  .NFC_video_contain h2 {
    line-height: 48px;
  }
  .NFC_btn {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .btn1 {
    padding: 16px 8px;
    font-size: 17px;
  }
  .menu_area ul {
    gap: 16px;
  }
  .menu_margin_t {
    margin-top: 16px;
  }
  .text_36 {
    font-size: 25px;
  }
  .NFC_video_contain h2 {
    line-height: 40px;
  }

}

@media (max-width: 576px) {
  .header_top_logo {
    max-width: 150px;
  }
  .header_menu {
    padding: 20px 10px;
  }
  .menu_area ul li a .m_icon {
    font-size: 18px;
    margin-right: 4px;
  }
  .btn1 {
    padding: 14px 6px;
    font-size: 14px;
  }
  .menu_area ul {
    gap: 10px;
  }
  .menu_margin_t {
    margin-top: 10px;
  }
  .text{
    margin-bottom: 10px;
  }
  .text_20 {
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 23px;
  }
  .text_36 {
    font-size: 22px;
    margin-bottom: 18px;
  }
  .visiting_information {
    padding: 40px 0 14px 0;
  }
  .NFC_QR {
    padding: 50px 0;
    gap: 14px;
  }
  .nfc_img_1 {
    padding: 6px;
  }
  .card_icon {
    width: 26px;
    height: 30px;
  }
  .card_words_single {
    gap: 12px;
  }
  .NFC_video_contain h2 {
    line-height: 36px;
  }
  .NFC_btn {
    margin-top: 60px;
  }
  .btn2 {
    padding: 12px 26px;
    font-size: 16px;
  }
  .NFC_video_card {
    padding: 25px 0;
  }
}

@media (max-width: 450px) {
  .header_top_logo {
    max-width: 135px;
  }
  .menu_area ul li a .m_icon {
    font-size: 14px;
  }
  .btn1 {
    padding: 12px 6px;
    font-size: 12px;
  }
}

@media (max-width: 367px) {
  .header_menu {
    padding: 18px 6px;
    background: #1e293b;
  }
}